<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Comment</th>
      <th scope="col">Created_at</th>
      <th scope="col">Updated_at</th>
      <th scope="col">Login</th>
      <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let users of userList; let i =index">
      <th scope="row">{{i}}</th>
      <td>{{users.name}}</td>
      <td>{{users.comment}}</td>
      <td>{{users.created_at}}</td>
      <td>{{users.updated_at}}</td>
      <td>{{users.login}}</td>
      <td><button class="btn btn-success" (click)="open(content)">Edit</button></td>
      <td><button class="btn btn-danger" (click)="deleteData(users.id)">Delete</button></td>
    </tr>
  </tbody>
</table>

<button class="btn btn-primary" (click)="open(content)">Launch demo modal</button>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Users</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <form formGroup="usersForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="exampleInputEmail1">Name</label>
      <input type="text" class="form-control" formControlName="name" id="exampleInputEmail1" placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Comment</label>
      <input type="text" class="form-control" formControlName="comment" id="exampleInputPassword1" placeholder="Enter Comment">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Login</label>
      <input type="text" class="form-control" formControlName="login" id="exampleInputPassword1" placeholder="Enter Login">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" formControlName="password" id="exampleInputPassword1" placeholder="Enter Password">
    </div>    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</ng-template>